$dark: #0f121a;
$white: #ffffff;
$grey: #9c9c9c;
$light-grey: #dcdcdc;
$blue: #00c5dc;

$green: #0a8c1c;
$red: #dc1000;

$menu-hover: rgb(39, 44, 53);
$menu-active: rgb(39, 44, 53);

$login-background: #21252C;
$class: main-menu;


.#{$class} {
  background-color: $dark;
  width: 80px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 80;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__nav {
    list-style: none;
    padding: 40px 0 30px 0;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  &__item {
    position: relative;
    border-right: 5px solid;

    &:hover,
    &--active {
      border-right-color: $blue;

      & .#{$class}__tooltip_user {
        display: block;
      }
    }
  }

  &__link {
    cursor: pointer;
    display: block;
    position: relative;
    text-align: center;
    padding: 1.27rem 1rem;
    line-height: 0;

    &:hover {
      background-color: $menu-hover;

      & ~ .#{$class}__tooltip {
        display: block;
      }
    }

    .#{$class}__item--active & {
      background-color: $menu-active;
    }
  }

  &__icon {
    color: $light-grey;
    display: inline-block;
    text-align: center;
    font-size: 2.2rem;

    .#{$class}__item:hover &,
    .#{$class}__item--active & {
      color: $blue;
    }
  }

  &__tooltip_link {
    white-space: nowrap;
    background-color: rgba($dark, 0.92) !important;

    color: #FFFFFF;
    left: calc(100% + 5px);
    padding: 1.6rem 1rem !important;
  }

  &__tooltip {
    pointer-events: auto !important;
    z-index: 10;
    border-radius: 0 !important;
    margin-left: 5px !important;

    &:hover {
      visibility: visible !important;
      opacity: 1 !important;
    }
  }

  &__tooltip:before {
    content: none !important;
  }

  &__tooltip:after {
    content: none !important;
  }

  &__tooltip_user {
    width: 250px;
    background-color: rgba($dark, 1);
    color: #d9d9d9;
    top: 0 !important;
    border-radius: 0 !important;
    padding: 1.6rem 1rem;
  }

}
