.m-nav .m-nav__item {
  display: block;
}

.m-nav .m-nav__separator {
  border-bottom: 1px solid #f4f5f8;
}

.m-nav .m-nav__separator {
  height: 0;
  margin: 15px 0;
  list-style: none;
}

.m-nav .m-nav__separator {
  border-bottom: 1px solid #f4f5f8;
}